.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.unvalidInput{
  border:1px solid red;
  box-shadow: 0 0 3px red;
}

.validInput{
  border:1px solid green;
  box-shadow: 0 0 3px green;
}

.red{
  color:red;
}

.blue{
  color: blue;
}